body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white;
}

 .container{
    width:500px;
    background-color: rgb(14,136,183);
    border-radius: 15px;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     padding:20px;
 }
 
 #answers button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    background:rgb(242,242,242);
    cursor: pointer;
    border-radius: 8px;
    color:black;
}
 h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 }
    .correct {
    background: #4CAF50 !important;
    color: white;
}
    .wrong {
    background: #E53935 !important;
    color: white;
}
    .hide {
    display: none;
} 
.btn {
    margin-top: 15px;
    padding: 9px;
    background-color: #42A5F5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
   
}
#timer{
  font-weight: bold;
    color: #FF5722; 
    margin-bottom: 10px;
}

